<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/medicalappxamplejavawwa30?serverTimezone=Europe/Warsaw</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">dupa</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="pl.sda.entity.Doctor"></mapping>
        <mapping class="pl.sda.entity.Appointment"></mapping>
        <mapping class="pl.sda.entity.Doctor"></mapping>
        <mapping class="pl.sda.entity.Patient"></mapping>
        <mapping class="pl.sda.entity.Specialization"></mapping>


    </session-factory>
</hibernate-configuration>


































<property name="connection.password">PANk!ER03.2</property>
